.form{
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.label{
    display: flex;
    flex-direction: column;
}
.input{
    display:block;
    margin:0 0 15px 0;
    padding:10px;
    width:250px;
    border:1px solid #ccc;
}
.btn{
    padding:10px 30px;
    background:#f8a035;
    color:#fff;
    border:none;
    border-radius: 10px;
}
.input:focus,
.input:hover {
    border: 2px solid rgb(69, 102, 109);
}
.btn:hover{
    border: 2px solid rgb(69, 102, 109);
}